html {
  background: linear-gradient(140deg, #26d0ce, #1a2980);
  min-height: 100%;
  min-width: 100%;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 20px;
}

#container {
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  background-color: grey;
  height: 100%;
  border-radius: 6px;
  background-color: #08051c;
}

.inner {
  padding: 20px;
  text-align: center;
  color: #d7653d;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 100;
  color: #f4f495;
}

#my-photo {
  background-image: url('arabia-mountain.jpg');
  background-size: cover;
  width: 100%;
  height: 400px;
  /*max-height: 100vw;*/
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

a {
  color: #d7653d;
}

a:hover {
  color: #e58436;
}

#icons a {
  margin: 10px 2px;
  display: inline-block;
  color: #d7653d;
  fill: currentColor;
  width: 32px;
  height: 32px;
  border: 1px solid #d7653d;
  border-radius: 50%;
}

#icons a i {
  margin-top: 7px;
  width: 20px;
  height: 20px;
}
